.main {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}

.selectedRepoDiv {
    animation: mountingAnimation 0.3s ease-in-out;
}
.repoItemDiv{
    animation: mountingAnimation 0.3s ease-in-out;
}
.socialImgHolder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    height: 220px;
    width: 100%;
    min-width: 240px;
    transition: all 0.3s;
    cursor: pointer;
    animation: mountingAnimation 0.3s ease-in-out;
}

.socialImgHolder:hover {
    transform: translateY(-2px);
}

.tokensDiv {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 20px;
    margin: auto auto;
    animation: mountingAnimation 0.3s ease-in-out;
}

@keyframes mountingAnimation {
    0% {
        opacity: 0;
        transform: translateY(5px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media (max-width:500px) {
    .main{
        margin: 0px auto;
    }
    .socialImgHolder {
        min-width: 150px;
        height: 150px;
    }
}