.main {
    font-family: "Poppins";
    padding: 40px 40px;
    transition: all 0.3s;
    min-height: 100vh;
    padding-top: 50px;
}


@media (max-width:600px) {
    .main {
        padding: 40px 10px;
        padding-top: 100px;
    }
}