.main{
    min-height: 100vh;
    padding: 20px;
    padding-top: 70px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}


@media (max-width:500px) {
    .main{
        padding: 10px;
    }
}
